
.area-button-container {
    background-color: #dddddd;
    margin: calc(8px + 0.8vw);
    margin-left: calc(10px + 1vw);
    margin-right: calc(10px + 1vw);
    width: min-content;
    border-bottom-left-radius: calc(5px + 0.5vw);
    display: flex;
}

.area-button-text {
    background-color: #ffffff;
    margin-left: 2px;   
    margin-bottom: calc(7px + 0.7vw);
    padding-left: calc(5px + 0.5vw);
    padding-right: calc(5px + 0.5vw);
    font-family: 'Goldman', cursive;
    font-size: calc(16px + 1.6vw); 
    color: #247ba0;
    transition: 1s ease-out;
    cursor: pointer;
}

.area-button-text:hover {
    background-color: #efefef;
    color: #3d5a80;
    transition: 1s ease-out;
}