
.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-box-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.contact-space-h {
    height: 20px;
}
