<div>

    <div *ngIf="recoverAPI; else loading">

        <div *ngIf="!recoverError; else error">

            <!---------------------------- TEMPLATE DO CONTACT ---------------------------->

            <div class="contact-container">
                <div class="major-title">CONTATO</div>
            
                <div class="contact-box-link">
                    <img src="assets/icons/gmail-icon.png" width="64" height="64"> 
                </div>
                <div class="box-code">
                    <div class="box-text" id="email-gmail-journey">
                        journey-dev-br@gmail.com
                    </div>
                    <div class="box-icon">
                        <a onclick="CopyTextCode('email-gmail-journey')">
                            <img src="assets/icons/content_copy_white_18dp.png" width=18 height=18>
                        </a>
                    </div>
                </div>  
            
                <div class="contact-space-h"></div>
            
                <div class="contact-box-link">
                    <img src="assets/icons/youtube-icon.png" width="48" height="48"> 
                </div>
                <div class="box-code">
                    <div class="box-text" id="link-youtube-journey">
                        https://youtube/journey-dev-br
                    </div>
                    <div class="box-icon">
                        <a onclick="CopyTextCode('link-youtube-journey')">
                            <img src="assets/icons/content_copy_white_18dp.png" width=18 height=18>
                        </a>
                    </div>
                </div>  

            </div>

            <!----------------------------------------------------------------------------->

        </div>

        <ng-template #error>
            <app-process-error [errorMsg]="errorMsg"></app-process-error>
        </ng-template>
    
    </div>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>
