<div class="contact-container">
    <div class="major-title">CONTATOS</div>

    <div class="sub-title">Email de Contato:</div>
    <div class="contact-box-link">
        <img src="assets/icons/gmail-icon.png" class="contact-icon-gmail">
    </div>
    <div class="box-code">
        <div class="box-text" id="email-gmail-journey">
            journey-dev-br@gmail.com
        </div>
        <div class="box-icon">
            <a onclick="CopyTextCode('email-gmail-journey')">
                <div class="box-icon-img"></div>
            </a>
        </div>
        <div id="snackbar"></div>
    </div>

    <div class="contact-space-h"></div>

    <div class="sub-title">Canal do Youtube:</div>
    <a href="https://youtube/journey-dev-br" target="_blank" class="a-link">
        <div class="contact-box-link">
            <img src="assets/icons/youtube-icon.png" class="contact-icon-youtube">
        </div>
    </a>
    <div class="box-code">
        <div class="box-text" id="link-youtube-journey">
            https://youtube/journey-dev-br
        </div>
        <div class="box-icon">
            <a onclick="CopyTextCode('link-youtube-journey')">
                <div class="box-icon-img"></div>
            </a>
        </div>
        <div id="snackbar"></div>
    </div>

    <div class="contact-space-h"></div>

    <div class="sub-title">No Linkedin:</div>
    <a href="https://www.linkedin.com/in/nivaldo-hydalgo" target="_blank" class="a-link">
        <div class="contact-box-link">
            <img src="assets/icons/linkedin-icon.png" class="contact-icon-linkedin">
        </div>
    </a>
    <div class="box-code">
        <div class="box-text" id="link-linkedin-journey">
            https://www.linkedin.com/in/nivaldo-hydalgo
        </div>
        <div class="box-icon">
            <a onclick="CopyTextCode('link-linkedin-journey')">
                <div class="box-icon-img"></div>
            </a>
        </div>
        <div id="snackbar"></div>
    </div>

</div>