
.help-container {   
    display: flex;
    flex-direction: column;
}

.help-description {
    font-family: 'Merriweather', serif;
    font-size: calc(13px + 0.8vw);
    color: #333;
    margin-top: 12px;
    margin-bottom: 10px;
}

.help-list-box {
    padding-left: 30px;
}

.help-list {
    font-family: 'Roboto', sans-serif;
    font-size: calc(13px + 0.7vw);
    color: #293241;
    display: flex;
    flex-direction: row;
}

.help-divider {
    width: 16px;
    height: 16px;
}
