<div class="article-container">

    <div *ngIf="recoverAPI; else loading">

        <div *ngIf="!recoverError; else error">

            <app-article-button 
                [article]="article"
                [isLink]="isLinkArticle">
            </app-article-button>

            <app-article-show [article]="article"></app-article-show>

        </div>

        <ng-template #error>
            <app-process-error [errorMsg]="errorMsg"></app-process-error>
        </ng-template>

    </div>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>

