
.article-container {
    display: flex;    
}

.article-area-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.article-area {
    margin-bottom: 14px;
}