
.search-input-container {
    display: flex;
    flex-direction: column;
}

.box-search-input {
    display: flex;
}

.search-input {
    width: 100%;
    font-size: calc(12px + 1.2vw);
    padding: 8px;
}

.search-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: calc(10px + 1vw);
}

.search-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(36px + 3.6vw);
    height: calc(36px + 3.6vw);
    background-color: #ff595e;
    border-radius: 50%;
}

.search-icon {
    width: calc(40px + 4vw);
    height: calc(40px + 4vw);
}

.search-no-articles {
    min-height: calc(20px + 20vh);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vw);
    color: #e63946;
    font-family: 'Oswald', sans-serif;
}
