<div>

    <div *ngIf="recoverAPI; else loading">

        <div *ngIf="!recoverError; else error">

            <div *ngFor="let area of areas">
                <a [routerLink]="['/themes', area.name ]" class="text-decoration-none">
                    <app-button-area [area]="area"></app-button-area> 
                </a>
            </div>

            <div *ngFor="let article of articles">
                <a [routerLink]="['/article', article.id ]" class="text-decoration-none">
                    <div>{{article.title}}</div>
                </a>
            </div>

        </div>

        <ng-template #error>
            <span>Ocorreu um erro...</span>
        </ng-template>
    
    </div>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>



<!-- 
    <div *ngIf="areas$ | async as areas; else loading">
        <div *ngIf="themes$ | async as themes; else loading">

            <div>Lista de Areas:</div>
            <div *ngFor="let area of areas">
                <a [routerLink]="['/themes', area.name ]" class="text-decoration-none">
                    <app-button-area [title]="area.title"></app-button-area> 
                </a>
            </div>

            <div>Lista de Temas:</div>
            <div *ngFor="let theme of themes">
                <a [routerLink]="['/themes', theme.name ]" class="text-decoration-none">
                    {{theme.title}}
                </a>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <span>Carregando...</span>
    </ng-template>
-->
</div>
