
.theme-button-container {
    background-color: #ffffff;
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-width: 2px;
    border-color: #dedede;
    border-radius: 10px;
    transition: 1s ease-out;
    cursor: pointer;
}

.theme-button-container:hover {
    background-color: #efefef;
    transition: 1s ease-out;
}

.theme-button-left {
    display: flex;
    align-items: center;
}

.theme-button-right {
    display: flex;
    align-items: flex-start;
}

.theme-button-text {
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Courgette', cursive;
    font-size: calc(18px + 1.8vw); 
    color: #e63946;
}

.theme-button-icon {
    padding: 10px;
}

.theme-button-quantity {
    margin: 5px;
    color: #4361ee;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.theme-button-margin {
    width: 60vw;
}

@media only screen and (min-width: 415px) {
    .theme-button-margin {
        width: 50vw;
    }
}