
.article-button-container {
    margin-top: calc(20px + 2vw);
    margin-bottom: calc(30px + 3vw);
}

.article-button-box-top {
    display: flex;
}

.article-button-box-icon {
    background-color: #efefef;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    margin-right: 8px;
    border-top-left-radius: 10px;
    display: flex;
}

.article-button-box-title {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.article-button-title {
    display: flex;
    flex: 1;
    line-height: 1;
    font-family: 'Goldman', cursive;
    font-size: calc(13px + 1.3vw);
    color: #e63946;
}

.article-button-infos {
    display: flex;
    justify-content: space-between;
}

.article-button-date {
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.8vw);
    font-style: italic;
    color: #444444;
}

.article-button-new-level {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.article-button-divider {
    background-color: #efefef;
    height: 1px;
}

.article-button-footer {
    display: flex;
    justify-content: space-between;
}

.article-button-description {
    padding-top: 4px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size:  calc(9px + 0.9vw);
    line-height: 1.5;
    color: #333333
}

.article-border-right {
    background-color: #efefef;
    width: 4px;
    height: auto;
    margin-left: 12px;
}
