
body {
    margin: 0;
    background-color: #fff3b0;
    color: #333333;
}

.text-decoration-none {
    text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*==================================*/
/*==    STYLES PARA OS ARTIGOS    ==*/
/*==================================*/

p {
    margin-bottom: calc(12px + 1.2vw);
    font-size: calc(9px + 0.9vw);
}

code {
    padding-left: 4px;
    padding-right: 4px;
    background-color: #dddddd;
    font-size: calc(10px + 1vw);
    border-radius: 6px;
}

.a-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: underline;
    color: #e63946;
}

/*-- TITULOS DO ARTIGO --*/

.article-title {
    margin-top: calc(11px + 1.1vw);
    font-weight: bold;
    font-size: calc(11px + 1.1vw);
}

/*-- VIDEO DO YOUTUBE --*/

.article-youtube {
    margin-bottom: calc(20px + 2vw);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*-- BOX DO COPYCODE --*/

.box-code {
    background-color: #424242;
    margin-bottom: calc(20px + 2vw);
    color: #67cdfe;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-text {
    padding: calc(8px + 0.8vw);
    font-family: monospace, 'Courier New', Courier;
    font-size: calc(9px + 0.9vw);
    line-height: 1.5;
}

.box-icon {
    color: white;
    padding: 6px;
}

.box-icon-img {
    background: url(https://journey-dev-br.github.io/journey-api/icons/content_copy_white_18dp.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc(11px + 1.1vw);
    height: calc(11px + 1.1vw);
}

/*=================================*/
/*==    STYLES PARA USO GERAL    ==*/
/*=================================*/

.major-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(7px + 0.7vw);
    font-family: 'Goldman', cursive;
    font-size: calc(22px + 2.2vw);
    color: #457b9d;
}

.sub-title {
    display: flex;
    justify-content: center;
    margin-top: calc(12px + 1.2vw);
    font-family: 'Goldman', cursive;
    font-size: calc(18px + 1.8vw);
    color: #cd1624;
}

.font-size-6 { font-size: calc(6px + 0.6vw) }
.font-size-7 { font-size: calc(7px + 0.7vw) }
.font-size-8 { font-size: calc(8px + 0.8vw) }
.font-size-9 { font-size: calc(9px + 0.9vw) }
.font-size-10 { font-size: calc(10px + 1vw) }
.font-size-11 { font-size: calc(11px + 1.1vw) }
.font-size-12 { font-size: calc(12px + 1.2vw) }
.font-size-13 { font-size: calc(13px + 1.3vw) }
.font-size-14 { font-size: calc(14px + 1.4vw) }
.font-size-15 { font-size: calc(15px + 1.5vw) }
.font-size-16 { font-size: calc(16px + 1.6vw) }
.font-size-17 { font-size: calc(17px + 1.7vw) }
.font-size-18 { font-size: calc(18px + 1.8vw) }
.font-size-19 { font-size: calc(19px + 1.9vw) }
.font-size-20 { font-size: calc(20px + 2vw) }
.font-size-21 { font-size: calc(21px + 2.1vw) }
.font-size-22 { font-size: calc(22px + 2.2vw) }
.font-size-23 { font-size: calc(23px + 2.3vw) }
.font-size-24 { font-size: calc(24px + 2.4vw) }
.font-size-25 { font-size: calc(25px + 2.5vw) }
.font-size-26 { font-size: calc(26px + 2.6vw) }
.font-size-27 { font-size: calc(27px + 2.7vw) }
.font-size-28 { font-size: calc(28px + 2.8vw) }
.font-size-29 { font-size: calc(29px + 2.9vw) }
.font-size-30 { font-size: calc(30px + 3vw) }
