
.themes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themes-top {
    margin-bottom: 30px;
}

.themes-list-item {
    margin-bottom: 20px;
}
