
<div class="themes-container">

    <div *ngIf="recoverAPI; else loading">

        <div *ngIf="!recoverError; else error">

            <!-- Botão da Area -->
            <div class="themes-top">
                <div *ngIf="area">
                    <app-area-button [area]="area" [isLink]="isLinkArea"></app-area-button> 
                </div>
            </div>
    
            <!-- Botões dos Temas da Area -->
            <div *ngFor="let theme of themes">
                <app-theme-button [theme]="theme" 
                    [isLink]="isLinkTheme" 
                    [showQuantity]="showQuantity">
                </app-theme-button>
            </div>

        </div>

        <ng-template #error>
            <app-process-error></app-process-error>
        </ng-template>

    </div>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

</div>